<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
 
<head>
    <link rel="stylesheet" type="text/css" href="assets/main.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" 
       integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" 
       crossorigin="anonymous">

</head>

  <body>
    <div class="header">
      <img class="logo" src="assets/images/GetAcademy2_4_2_blue.png"/> 
      <div class="header-links" >
        <a href="http://getacademy.net/">Søk!</a>
        <a href="http://getacademy.net/">Skole</a>
        <a href="http://getacademy.net/">Konsulentbyrå</a>
        <a href="http://getacademy.net/">Nyheter</a>        
        <a href="http://getacademy.net/">om oss</a>
      </div>
      <img class="header-img" src="assets/images/wallpaper-164080.jpg"/>
    </div>      
    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>
    </div>      
    <div class="footer">
      Footer
    </div>
  </body>

</html>
